* {
  color: black;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 250%;
  background-color: #F0C6B4;
  margin: 0.25%;
  padding: 1%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

div {
  background-color: #F0C6B4;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 1%;
  margin: 0.25%;
}

form label {
  display: inline-block;
  width: 120px;
}

.noList {
  list-style: none;
  padding-left: 0;
}

section {
  background-color: #c9ffe2;
  margin: 0.5%;
  padding: 0.5%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.info {
  font-size: 0.95rem;
  line-height: 1.5em;
  margin: 0;
  font-weight: 200;
}

.task {
  list-style-type: none;
  margin: 0.5%;
  padding: 0.5%;
  background-color: #F0C6B4;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.taskHeading {
  font-size: 1rem;
  line-height: 2em;
}