<h2>Aircraft Selection</h2>
<label>Select an Aircraft: </label>
<select [(ngModel)]="selectedAircraft">
	<option [ngValue]="null" disabled>Select an Aircraft</option>
	<option *ngFor="let craft of aircraft" [ngValue]="craft.aircraftId">
		{{ craft.aircraftId }}
	</option>
</select>
<ul>
  <li *ngIf="selectedAircraft">Aircraft ID: {{ aircraft[selectedAircraft - 1].aircraftId }}</li>
  <li *ngIf="selectedAircraft">Daily Hours: {{ aircraft[selectedAircraft - 1].dailyHours }}</li>
  <li *ngIf="selectedAircraft">Current Hours: {{ aircraft[selectedAircraft - 1].currentHours }}</li>
</ul>